.slider {
    width:100%;
   
  position: relative;

 
}

.slider-item{
    background-size: 100%;
    background-repeat: no-repeat;
   height:300px;
   max-width: 900px;
   margin: 0 auto;
 
}

.slider-buttons {
    position: absolute;
    top: 45%;
    right: 0;
    padding: 0 100px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 0px;

}
.slider-button img {
    width: 35px;
    height: 35px;
   opacity: 0.8;
   background-color: rgba(245, 245, 220, 0.349);
   &:hover {
    opacity: 1;
   }
}