
button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
     line-height: normal;
}
body {
    margin:0 auto;
    background-color: rgb(43, 33, 33);
    
}
h3 {
    font-size: 24px;
    font-weight: 700;
}
li {
    list-style: none;
}
.wrapper {
    background-color: white;
    border-radius: 20px;
    max-width: 85%;
    margin: 50px auto;
} 
.content {
    padding:20px;
}
.search-content {
    display: flex;
    justify-content: space-between;
}
.search-block {
    display: flex;
}

.search-block input {
    border:0;
    padding:13px;
    font-size:16px;
    padding: 10px 20px 10px 40px;
}
.search-block img{
    position: absolute;
    top:10px;
    left: 25px;


}

.search-block {
    border: 1px solid #f3f3f3;
    border-radius: 10px;
    padding: 0 15px;
    position: relative;
  
    .clear {
      position: absolute;
      right: 0;
      width: 18px;
      height: 18px;
      top: 14px;
      right: 15px;
      padding: 10px;
    }
  
    input {
      border: 0;
      padding: 13px;
      font-size: 16px;
      width: 200px;
    }
  }

.cards-block {
    display:flex;
    margin: 20px;
    flex-wrap: wrap;
    
}
.greenButton {
    width: 100%;
    height: 55px;
    background: #9dd558;
    border-radius: 18px;
    border: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.1s ease-in-out;
  
    &:disabled {
      background-color: #bebebe !important;
      cursor: default;
    }
  
    &:hover {
      background: lighten(#9dd558, 5%);
    }
  
    &:active {
      background: darken(#9dd558, 5%);
    }
  }